.popup{
  position: fixed;
  cursor: default;
  background: #FFF;
  max-width: 500px;
  height: auto;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  top: 50%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .15);
  z-index: 9999;
}

.popup .popup-head{
  position: relative;
  padding: 15px 64px 15px 20px;
  background: #FF6B00;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border-radius: 10px 10px 0 0;
}

.popup .popup-head.error-head{
  background: #D10000;
}

.popup .popup-head.success-head{
  background: #589C00;
}

.popup.promo .popup-head{
  background: transparent;
  color: #333;
  padding: 15px 64px 0 20px;
  font-size: 20px;
  line-height: 24px;
  color: #589C00;
}

.popup.promo .popup-head span{
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #666;
  padding: 0 0 0 50px;
}

.popup.promo .popup-head svg.icon-suc{
  float: left;
  width: 42px;
  height: 42px;
  margin: 0 7.5px 0 0;
}

.popup.promo .popup-head svg.icon-suc .circle,
.popup.promo .popup-head svg.icon-suc .stripe-1,
.popup.promo .popup-head svg.icon-suc .stripe-2{
  transform-origin: center center;
  fill: #589C00;
}

.popup.promo .popup-head svg.icon-suc .circle{
  animation: circleAnim 3s ease-in-out infinite;
}

@keyframes circleAnim{
  0%{opacity: 0; transform: scale(0, 0);}
  10%{opacity: 1; transform: scale(1, 1);}
  90%{opacity: 1; transform: scale(1, 1);}
  100%{opacity: 0; transform: scale(0, 0);}
}

.popup.promo .popup-head svg.icon-suc .stripe-1{
  animation: stripe1Suc 3s ease-in-out infinite;
}

@keyframes stripe1Suc{
  0%{opacity: 0; transform: scale(1, 1) translate(4px, -24px) rotate(-45deg);}
  10%{opacity: 0; transform: scale(1, 1) translate(4px, -24px) rotate(-45deg);}
  20%{opacity: 1; transform: scale(1, 1) translate(0, 0) rotate(0deg);}
  50%{opacity: 1; transform: scale(1.1, 1.1) translate(0, 0) rotate(0deg);}
  80%{opacity: 1; transform: scale(1, 1) translate(0, 0) rotate(0deg);}
  90%{opacity: 0; transform: scale(1, 1) translate(4px, -24px) rotate(-45deg);}
  100%{opacity: 0; transform: scale(1, 1) translate(4px, -24px) rotate(-45deg);}
}

.popup.promo .popup-head svg.icon-suc .stripe-2{
  animation: stripe2Suc 3s ease-in-out infinite;
}

@keyframes stripe2Suc{
  0%{opacity: 0; transform: scale(1, 1) translate(-4px, -5px) rotate(45deg);}
  10%{opacity: 0; transform: scale(1, 1) translate(-4px, -5px) rotate(45deg);}
  20%{opacity: 1; transform: scale(1, 1) translate(0, 0) rotate(0deg);}
  50%{opacity: 1; transform: scale(1.1, 1.1) translate(0, 0) rotate(0deg);}
  80%{opacity: 1; transform: scale(1, 1) translate(0, 0) rotate(0deg);}
  90%{opacity: 0; transform: scale(1, 1) translate(-4px, -5px) rotate(45deg);}
  100%{opacity: 0; transform: scale(1, 1) translate(-4px, -5px) rotate(45deg);}
}

.popup .popup-close{
  top: 10px;
  right: 10px;
  z-index: 9;
  background: #5F5757;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  position: absolute;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
}

.popup .popup-head .popup-close{
  right: 20px;
  top: 50%;
  margin: -12px 0 0 0;
}

.popup.promo .popup-head .popup-close{
  margin: -4px 0 0 0;
}

.popup .popup-close:hover{
  background: #D10000;
}

.popup .popup-close svg{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.popup .popup-close svg polygon{
  fill: #FFF !important;
}

.popup .popup-con{
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
}

.popup .popup-con.with-icon{
  text-align: center;
}

.popup .popup-con.use-slider{
  padding: 0;
}

.popup .popup-con.with-icon img{
  display: block;
  max-width: 175px;
  margin: 0 auto 20px auto;
}

.popup .popup-con a{
/*    display: block;*/
}

.popup .popup-con a img{
  display: block;
  width: 100%;
  border: 1px solid #EEE;
  border-radius: 5px;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .15);
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
}

.popup .popup-con a:hover img{
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, .3);
}

.popup .popup-con.rich-text{
  margin: -10px 0 0 0;
  max-height: 500px;
  overflow: scroll;
}

.popup .popup-con.rich-text p{
  margin: 10px 0;
}

.popup .popup-con.rich-text ul.disc{
  list-style: disc;
  padding: 5px 0 5px 20px;
}

.popup .popup-con.rich-text ul.disc li{
  padding: 5px 0;
  font-size: 14px;
  line-height: 18px;
}

.popup .popup-con.rich-text > ul.num{
  list-style: decimal;
  padding: 0 0 0 20px;
}

.popup .popup-con.rich-text > ul.num > li{
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

.popup .popup-con.rich-text > ul.num > li p{
  font-size: 14px;
  line-height: 18px;
}

.popup .popup-con.rich-text > ul.num > li > ul.num{
  list-style: decimal;
  padding: 5px 0 5px 20px;
}

.popup .popup-con.rich-text > ul.num > li > ul.num > li{
  padding: 5px 0;
  font-size: 14px;
  line-height: 18px;
}

.popup-foot{
  background: #EEE;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.slide-pop .popup-foot{
  border-radius: 0;
}

.popup-foot ul{
  overflow: auto;
  margin: -10px;
}

.popup-foot ul li{
  float: left;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.popup-foot ul.lay-2 li{
  width: 50%;
}

.popup-foot ul li a{
  display: block;
  background: #FF6B00;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  text-transform: uppercase;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, .15);
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
}

.popup-foot .for-no{
  background: #5F5757;
}

.popup-foot ul li a.disabled{
  pointer-events: none;
  opacity: .5;
  background: #999;
}

.popup-foot ul li a:hover{
  background: #FFA800;
}

.popup-foot .for-no:hover{
  background: #8F8787;
}

.popup-foot ul li a .svg-icon{
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: -2px 0 0 0;
}

.popup-foot ul li a .svg-icon path{
  fill: #FFF;
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 999;
  cursor: pointer;
  backdrop-filter: blur(3px);
}